#content{
	margin-right: 0.5%;
	margin-left: 0.5%;
}

#fdsContact, #fdsTelefone, #fdsEmail{
	margin-top: 10px;
	margin-right: 1%;
	margin-left: 1%;
	float: left;
}

#fdsContact{
	width:22.33%;
} 

#fdsTelefone{
	width:32.33%;
}

#fdsEmail{
	width:39.33%;
}

#divBtnSave{
	position:absolute;
    bottom:0;
    margin-left:90%;
}

#divBtnClean{
	position:absolute;
    bottom:0;
    margin-left:2%;
}

.contentFormTelephone, .contentFormEmail{
	float: left;
}